<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
<h2>Добавить пользователя</h2>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти">
    </form>
    <br>
    <form method="POST" th:action="@{/admin/users/add}" th:object="${user}">

        <!-- ЭТОТ БЛОК ПОКАЗЫВАЕТ ВСЕ ОШИБКИ СРАЗУ -->
        <div th:if="${#fields.hasErrors('*')}" style="color: red; border: 1px solid red; padding: 10px;">
            <h4>Исправьте ошибки:</h4>
            <ul>
                <li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
            </ul>
        </div>

        <fieldset>
            <legend>Данные пользователя</legend>
            <label for="name">Enter name</label>
            <input type="text" th:field="*{name}" id="name"/>
            </p>
            <label for="lastName">Last name</label>
            <input type="text" th:field="*{lastName}" id="lastName"/>
            </p>
            <label for="age">Age</label>
            <input type="number" th:field="*{age}" id="age"/>
            </p>
            <label for="email">Email</label>
            <input type="text" th:field="*{email}" id="email"/>
            </p>
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" id="password"/>
            </p>
            <label>
                <select size="3" multiple="multiple" name="roles">
                    <option th:each="role : ${roles}"
                            th:value="${role}"
                            th:text="${role}"
                            th:selected="${role.toString() == 'ROLE_USER'}">
                    </option>
                </select>
            </label>
            </p>
        </fieldset>
        <br/>
        <button style="background: lightgray" type="submit">Сохранить пользователя</button>
    </form>
    <br/>
    <form th:action="@{/admin}">
        <button style="background: lightgray" type="submit">Назад к списку пользователей</button>
    </form>
</div>
</body>
</html>